@font-face {
  font-family: "Goldman";
  src: local("Goldman Bold"), local("Goldman-Bold"), url("./fonts/Goldman-Bold.ttf");
  font-weight: 700;
}

:root {
  --background-color-primary: lch(93 3 270);
  --background-color-secondary: lch(84 3 270);
  --background-color-tertiary: lch(3 3 270);
  --line-height-primary: 1.681793;
  --line-height-secondary: 1.189207;
  --text-color-primary: lch(3 3 270);
  --link-color: lch(3 3 270);
  --link-color-hover: lch(12 3 270);
  --border-color: lch(12 3 270);
}

*,
::before,
::after {
  background-color: transparent;
  border-width: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: var(--line-height-primary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 1rem;
}

header {
  padding: 2rem 0;
}

main {
  padding-bottom: 2rem;
}

section {
  padding: 2rem 0;
}

footer {
  background-color: var(--background-color-secondary);
  font-size: 0.840896rem;
  padding: 2rem 0;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.189207;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.189207rem;
  line-height: 1.189207;
}

h3 {
  font-size: 1.414214rem;
  font-weight: 700;
  line-height: 1.189207;
  margin-bottom: 0.5rem;
}

h4 {
  line-height: 1.189207;
  margin-bottom: 1rem;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

footer p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.svg-wrapper {
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.svg {
  fill: transparent;
  height: 100%;
  left: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.svg-shield {
  fill: var(--background-color-tertiary);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1;
  stroke: var(--background-color-tertiary);
}

.svg-circle {
  fill: white;
  stroke-width: 8; 
  stroke: white;
}

.svg-dice {
  fill: var(--background-color-tertiary);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 8;
  stroke: white;
}

.svg-text {
  color: var(--background-color-primary);
  fill: var(--background-color-primary);
  font-family: Goldman, system-ui, sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -4px;
  line-height: 1;
  text-anchor: middle;
  user-select: none;
}

.card {
  border: 1px solid var(--border-color);
  padding: 1rem;
}

.card-header {
  margin-bottom: 2rem;
}

.card-footer {
  margin-top: 2rem;
}

.text-bold {
  font-weight: 700;
}

a:any-link {
  color: var(--link-color);
  transition: color 250ms;
}

a:hover {
  color: var(--link-color-hover);
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
